.skillset-container {
  display: block;
  padding: 2rem 0 0 0;
}

.skill-list-item {
  list-style-type: none;
  padding: 1vh 1vw;
  min-width: 4vw;
  text-align: center;
  border: solid #555;
  border-radius: 100px;
}

.skill-list {
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vh 1vw;
  padding-top: 1vh;
}
